/* test */
$high-light:  rgb(122,211,11);
$black-light: rgb(11,22,33);

body{
    background-color:$high-light;
    color: rgb(11,22,33);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    
}

header{
    padding: 1em 0;
    margin: 1em 0 3em 0;
    a{
        color: rgb(197, 56, 167);
        margin: 0 1em 0 0;
        text-decoration: none;
    }
}

footer{
    border-top: 1px  solid $black-light;
    color: $black-light;
    padding: 1em 0;
    margin: 1em 0 0 0;
}

h1{
    font-size: 4em;
    margin:  0 0 1em 0;
}

.portrait{
    width: 250px;
}