<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- <link rel="stylesheet" href="styles.css"> --}}
    <link rel="stylesheet" href="./css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    {{>header}}
    <p>{{errorMessage}}</p>
    <img src="https://i.pinimg.com/originals/ed/1b/cb/ed1bcb4cdb1898d6d359cda725927080.jpg" alt="">
    {{>footer}}
</body>

</html>